$color-tercial: rgb(15, 223, 178);
$color-forth: rgb(195, 255, 31);

// mixins

@mixin move-quotemark-downwards {
    position: relative;
    top: 72%;
    margin-top: 15px;
}

// DOM
* {
    box-sizing: border-box;
}

.home {

    .mobile {
        
        .testemonials-container-parent {
            margin-top: 135px;

            .title {
                margin-bottom: 45px;
            }

            .testemonials-container {
                height: 750px;
                width: 100%;
                box-shadow: 0px 0px 10px 4px #999999;
                border-radius: 30px;
            }

            .testemonials {
                height: 100%;
                width: 100%;
                background-image: linear-gradient(to bottom right, $color-tercial, $color-forth);
                border-radius: 30px;
                overflow: hidden;

                .cover {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    top: -16px;
                    background-color: rgba(0,0,0, 0.05);
                
                    .text-container {
                        position: relative;
                        width: 100%;
                        height: 60%;
                        top: 15px;
                        display: flex;
                        justify-content: center;
                        padding-top: 30px;

                        .quotation-mark-decoration {

                            

                            &-big{
                                margin-top: 25px;
                                font-size: 80px;
                                color: white;
                                height: max-content;

                                &.bottom {
                                    @include move-quotemark-downwards;
                                }
                            }

                            &-small {
                                margin-top: 25px;
                                font-size: 61px;
                                color: white;
                                height: max-content;

                                &.bottom {
                                    @include move-quotemark-downwards;
                                }
                            }
                        }

                        .quote-container {
                            height: 84%;
                            width: 65%;
                            display: flex;
                            align-items: center;
                            
                            p {

                                color: white;
                                font-size: 25px;
                                line-height: 40px;
                            }
                        }
                    }

                    .img-and-rating-container {
                        position: relative;
                        width: 100%;
                        height: 50%;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        

                        .img-container {
                            position: absolute;
                            height: 250px;
                            width: 250px;
                            border-radius: 50%;
                            border: 20px solid white;
                            background-color: #444;
                            top: -53px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;

                            img {
                                height: 210px;
                            }
                        }

                        .author {
                            width: max-content;
                            margin-top: 196px;
                            font-size: 33px;
                            margin-bottom: 17px;
                        }

                        .rating {
                            display: flex;
                            width: 200px;
                            justify-content: space-between;

                            .star {
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}