$color-primary: #f857a8;
$color-secondary: #ff5858;
$color-tercial: #7663f5;
$color-forth: #48aff2;
$color-neutral-lt: #fff;
$color-neutral-med: #ddd;
$color-neutral-dk: #444;

// mixins

@mixin skew {
    transform: skewY(-20deg);
}
  
@mixin unskew {
    transform: skewY(20deg);
}

// DOM
* {
    box-sizing: border-box;
}

.home {

    width: 85%;
    margin: auto;

    .mobile {

        .section {
            margin-top: 35px;
        }

        .brief-introduction {
            margin-top: 75px;
        }

        .text-paragraph {
            font-size: 18px;
            margin: 15px;
        }

        .card {
            height: 626px;
            overflow: hidden;
            border-radius: 15px;
            margin: auto;
            margin-top: 50px;
            background-color: rgb(247, 247, 247);
            box-shadow: 0px 0px 10px 4px #999999;
        
            .decoration-element {
                height: 100%;
                width: calc(100% + 1px);
                border-radius: 30px;
                position: relative;
                top: 29px;
                background-image: linear-gradient(to bottom right, $color-primary, $color-secondary);
                @include skew;

                .img-container {
                    position: relative;
                    top: 87px;
                    display: flex;
                    justify-content: center;
                    @include unskew;

                    img {
                        height: 280px;
                        border-radius: 30px;
                        border: 1px solid black;
                    }

                }

                .button-container {
                    position: relative;
                    top: 117px;
                    @include unskew;
                    width: 223px;
                    margin: auto;
                }
            }
        
        }
        
        .testemonials-container-parent {
            margin-top: 60px;

            .testemonials-container {
                height: 600px;
                width: 100%;
                box-shadow: 0px 0px 10px 4px #999999;
                border-radius: 30px;
            }

            .testemonials {
                height: 530px;
                width: 100%;
                background-image: linear-gradient(to bottom right, $color-tercial, $color-forth);
                border-radius: 30px;
                overflow: hidden;

                .cover {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    top: -16px;
                    background-color: rgba(0,0,0, 0.05);
                
                    .text-container {
                        width: 100%;
                        height: 60%;
                    }

                    .image-and-rating-container {
                        width: 100%;
                        height: 40%;
                        background-color: white;
                    }                    

                }

            }

        }
    }
}

@media (max-width: 444px) {
    .home {
        .mobile {
            .card {
                height: 650px;
                .decoration-element {
                    .img-container {
                        img {
                            height: 250px !important;
                        }
                    }

                    .button-container {
                        width: 199px;
                    }
                }
            }
        }
    }
}