$color-primary: #f857a8;
$color-secondary: #ff5858;
$color-neutral-lt: #fff;
$color-neutral-med: #ddd;
$color-neutral-dk: #444;


@media (min-width: 800px) {
.home {

    width: 100%;

    .desktop {

        .testemonials-container {
            margin-top: 200px;
        }

    }

}
}